################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Axelot.Business/bin/Debug/net6.0
/Axelot.Business/obj
/Axelot.Core/Axelot.Core/obj
/Axelot.Core/Axelot.DTO/obj
/Axelot.DAL/obj
/Axelot.WebApi/bin/Debug/net6.0
/Axelot.WebApi/obj
/Axelot.Core/Axelot.Core/bin/Debug/net6.0
/Axelot.Core/Axelot.DTO/bin/Debug/net6.0
/Axelot.DAL/bin/Debug/net6.0
/Akvelon.Business/bin/Debug/net6.0
/Akvelon.Business/obj
/Akvelon.Core/Akvelon.Core/bin/Debug/net6.0
/Akvelon.Core/Akvelon.Core/obj/Debug/net6.0
/Akvelon.Core/Akvelon.Core/obj
/Akvelon.Core/Akvelon.DTO/bin/Debug/net6.0
/Akvelon.Core/Akvelon.DTO/obj
/Akvelon.DAL/bin/Debug/net6.0
/Akvelon.DAL/obj
/Akvelon.WebApi/bin/Debug/net6.0
/Akvelon.WebApi/obj
